.chat {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px 15px;
  background: var(--black);
  box-shadow: var(--shadow);
  border-radius: 15px;
  width: 100%;
  text-decoration: transparent;
  transition: transform 0.2s linear;
  &:hover {
    transform: scale(1.01);
    .name {
      text-decoration: underline var(--white);
    }
  }
  @media (max-width: 500px) {
    gap: 5px;
    padding: 10px;
  }
}

.img {
  min-width: 45px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  @media (max-width: 500px) {
    width: 35px;
    height: 35px;
  }
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: underline transparent;
  transition: text-decoration 0.2s linear;
  @media (max-width: 500px) {
    width: 150px;
    font-size: 16px;
  }
}
