.window {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1 0 auto;
    gap: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1 0 auto;
    gap: 15px;
}