:root {
    --dark: #141414;
    --dark-2: rgb(29, 33, 37);
    --black: #000;
    --white: #fff;
    --gray: rgb(55 65 81);
    --accent: #5B6AF0;
    --green: rgb(34 197 94);
    --blue: rgb(59 130 246);
    --yellow: rgb(234 179 8);
    --red: rgb(239 68 68);
    --slate: rgb(100 116 139);
    

    --shadow: 0px 0px 25px rgba(185, 207, 223, 0.13);
}

.title {
    &-1 {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &-2 {
        font-size: 24px;
        font-weight: 600;
    }

    &-3 {
        font-size: 18px;
        font-weight: 600;
    }
}