.window {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1 0 auto;
    gap: 15px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 0 auto;
}

.message {
    border-radius: 10px;
    padding: 10px;
    max-width: 80%;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    &.notMe {
        background: var(--gray);
    }

    &.me {
        background: var(--black);
        margin-left: auto;
    }

    &_date {
        margin-left: auto;
        width: max-content;
        margin-top: 5px;
        font-style: italic;
        opacity: 0.8;
    }
}

.fieldOuter {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    background: var(--black);
    box-shadow: var(--shadow);
}

.send {
    background: var(--blue);
}