.outer {
    position: fixed;
    bottom: 90px;
    left: 15px;
    width: calc(100% - 30px);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    background: var(--black);
    box-shadow: var(--shadow);
  }
  
  .send {
    background: var(--blue);
  }