.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--black);
    border-radius: 15px 15px 0 0;
    z-index: 10;
  box-shadow: var(--shadow);
}

.inner {
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}