.search {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  .input {
    width: 100% !important;
  }
}

.input {
  background: transparent;
  border: 1px solid var(--slate);
  width: 90% !important;
  border-radius: 10px;
  padding: 7px 10px;
  outline: none;
  color: var(--white);

  &::placeholder {
    color: var(--slate);
  }

  &:hover,
  &:focus {
    border: 1px solid var(--white);
  }
}

.icon {
  padding: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
  transition: opacity 0.2s linear;
  &:hover {
    opacity: 0.7;
  }
}
